<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="MonitoresUCA.My.MySettings.StrConexion" connectionString="Data Source=DURAN\SQLEXPRESS;Initial Catalog=DBMonitores;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />-->
			<add name="MonitoresUCA.My.MySettings.StrConexion" connectionString="workstation id=jadgDB2023.mssql.somee.com;packet size=4096;user id=jadg13_SQLLogin_1;pwd=27pdahshwc;data source=jadgDB2023.mssql.somee.com;persist security info=False;initial catalog=jadgDB2023"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>